body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('resources/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

h1, p {
    font-family: 'Arial', sans-serif;
}

input {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: rgba(200, 200, 200, 0.7);
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 25px
}

input:focus {
    outline: none;
}