body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    background-image: url('resources/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    font-family: "Roboto Slab", sans-serif;
}

#password-form {
    display: flex;
    flex-direction: column;
}

#password-input {
    margin-bottom: 12px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 1px solid #333;
    background-color: rgba(200, 200, 200, 0.7);
    font-family: "Roboto Slab", sans-serif;
    width: 170px;
    font-size: 16px;
}

#password-input:focus {
    outline: none;
}

.ok-button {
    margin: 0 auto;
    padding: 5px 10px;
    font-family: "Roboto Slab", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.correct-password-block {
    color: white;
    font-weight: bolder;
    font-size: 90px;
    letter-spacing: 6px;
    text-shadow: 1px 1px #000;
}

@media (min-width: 480px) {
    #password-input {
        width: 220px;
    }
}

@media (min-width: 768px) {
    #password-input {
        width: 270px;
        font-size: 20px;
    }

    .ok-button {
        font-size: 20px;
    }
}

@media (min-width: 1000px) {
    #password-input {
        width: 320px;
        font-size: 25px;
    }

    .ok-button {
        font-size: 25px;
    }
}